In [1]:
import pandas as pd 
import numpy as np

In [2]:
df1 = pd.read_csv('Most-Recent-Cohorts-All-Data-Elements.csv')
df1.head()

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (9,1608,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1640,1643,1648,1657,1666,1669,1674,1683,1688,1689,1690,1691,1692,1697,1700,1703,1704,1705,1706,1707,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3193,0.7057,0.7143,5343.0,1165.0,1288.0,2.0,0.7083,0.7287,2698.0
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.2475,0.3788,0.5350,14445.0,10498.0,2228.0,2.0,0.3891,0.5414,4176.0
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.2836,1.0000,1.0000,440.0,527.0,5.0,4.0,PrivacySuppressed,PrivacySuppressed,24.0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2496,0.2707,0.4556,8145.0,2443.0,1341.0,2.0,0.2378,0.4402,2544.0
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.2621,0.7792,0.7539,4732.0,642.0,951.0,2.0,0.7684,0.7464,2094.0

In [3]:
df1.shape

(6806, 1986)

In [4]:
df1.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'OMENRUP_PARTTIME_POOLED_SUPP', 'FTFTPCTPELL', 'FTFTPCTFLOAN', 'UG12MN',
       'G12MN', 'SCUGFFN', 'POOLYRS_FTFTAIDPCT', 'FTFTPCTPELL_POOLED_SUPP',
       'FTFTPCTFLOAN_POOLED_SUPP', 'SCUGFFN_POOLED'],
      dtype='object', length=1986)

#### smaller dataframe

In [5]:
df1['ICLEVEL'].value_counts()
# 1 is 4-year inst
# 2 is 2-year inst
# 3 is less than 2-year

1    3111
3    1858
2    1837
Name: ICLEVEL, dtype: int64

In [6]:
# dataframe with just 4 year institutions 
df1 = df1[df1['ICLEVEL']==1]

In [7]:
# dataframe with just 4 year predominantly bachelor-degree granting institutions 
df1 = df1[df1['PREDDEG']==3]

In [8]:
# dataframe with the columns I think could be helpful in my analysis
df2 = df1[['OPEFLAG', 'CONTROL', 'TUITFTE', 'INEXPFTE', 'AVGFACSAL','OPENADMP',
           'ADM_RATE', 'SAT_AVG', 'ACTCMMID', 'COSTT4_A', 'TUITIONFEE_IN', 'TUITIONFEE_OUT',
           'PCT_WHITE', 'PCT_BLACK', 'PCT_ASIAN', 'PCT_HISPANIC', 'UGDS', 'FTFTPCTFLOAN',
           'FTFTPCTPELL', 'DEBT_MDN', 'C100_4', 'C150_4','C100_4_POOLED', 'C150_4_POOLED',
           'RET_FT4', 'RET_PT4', 'RET_FT4_POOLED', 'RET_PT4_POOLED', 'MEDIAN_HH_INC', 
           'LN_MEDIAN_HH_INC','POVERTY_RATE','INC_PCT_LO','INC_PCT_M1','INC_PCT_M2',
          'INC_PCT_H1', 'INC_PCT_H2', 'PPTUG_EF2','NPT4_PUB','NPT4_PRIV','NPT41_PUB',
          'NUM4_PUB','NUM4_PRIV','PFTFAC']]
df2

,OPEFLAG,CONTROL,TUITFTE,INEXPFTE,AVGFACSAL,OPENADMP,ADM_RATE,SAT_AVG,ACTCMMID,COSTT4_A,...,INC_PCT_M2,INC_PCT_H1,INC_PCT_H2,PPTUG_EF2,NPT4_PUB,NPT4_PRIV,NPT41_PUB,NUM4_PUB,NUM4_PRIV,PFTFAC
0,1,1,7413.0,5384.0,7101.0,2.0,0.8986,957.0,18.0,22489.0,...,0.1051475204,0.0621468927,0.0408035154,NaN,14444.0,NaN,13893.0,592.0,NaN,0.7411
1,1,1,13177.0,16454.0,10717.0,2.0,0.9211,1220.0,25.0,24347.0,...,0.1423514067,0.114589156,0.1356437488,NaN,17005.0,NaN,14550.0,1229.0,NaN,0.7766
2,1,2,14273.0,4206.0,4292.0,1.0,NaN,NaN,NaN,17680.0,...,0.0641891892,PrivacySuppressed,PrivacySuppressed,NaN,NaN,15322.0,NaN,NaN,5.0,1.0000
3,1,1,8677.0,9242.0,9442.0,2.0,0.8087,1314.0,28.0,23441.0,...,0.1469233989,0.1506906656,0.1900376727,NaN,20909.0,NaN,17561.0,585.0,NaN,0.6544
4,1,1,10160.0,8527.0,7754.0,2.0,0.9774,972.0,18.0,21476.0,...,0.1126198083,0.052715655,0.0415335463,NaN,13043.0,NaN,11344.0,523.0,NaN,0.5826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,1,2,6477.0,6188.0,2667.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6314,1,1,12317.0,153080.0,18393.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9260
6318,1,3,24145.0,23749.0,6620.0,2.0,0.2500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2500
6319,1,2,9970.0,4515.0,5794.0,1.0,NaN,NaN,NaN,19707.0,...,NaN,NaN,NaN,NaN,NaN,14368.0,NaN,NaN,34.0,1.0000
6322,1,2,6964.0,3401.0,7548.0,1.0,NaN,NaN,NaN,20329.0,...,NaN,NaN,NaN,NaN,NaN,14061.0,NaN,NaN,255.0,1.0000

#### converting strings to integers

In [9]:
df2['MEDIAN_HH_INC'] = np.where(df2['MEDIAN_HH_INC']=='PrivacySuppressed',np.nan,df2['MEDIAN_HH_INC'])
df2['MEDIAN_HH_INC'] = pd.to_numeric(df2['MEDIAN_HH_INC'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df2['INC_PCT_LO'] = np.where(df2['INC_PCT_LO']=='PrivacySuppressed',np.nan,df2['INC_PCT_LO'])
df2['INC_PCT_LO'] = pd.to_numeric(df2['INC_PCT_LO'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df2['INC_PCT_M1'] = np.where(df2['INC_PCT_M1']=='PrivacySuppressed',np.nan,df2['INC_PCT_M1'])
df2['INC_PCT_M1'] = pd.to_numeric(df2['INC_PCT_M1'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
df2['INC_PCT_M2'] = np.where(df2['INC_PCT_M2']=='PrivacySuppressed',np.nan,df2['INC_PCT_M2'])
df2['INC_PCT_M2'] = pd.to_numeric(df2['INC_PCT_M2'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
df2['INC_PCT_H1'] = np.where(df2['INC_PCT_H1']=='PrivacySuppressed',np.nan,df2['INC_PCT_H1'])
df2['INC_PCT_H1'] = pd.to_numeric(df2['INC_PCT_H1'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
df2['INC_PCT_H2'] = np.where(df2['INC_PCT_H2']=='PrivacySuppressed',np.nan,df2['INC_PCT_H2'])
df2['INC_PCT_H2'] = pd.to_numeric(df2['INC_PCT_H2'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
df2['INC_PCT_H2'] = np.where(df2['INC_PCT_H2']=='PrivacySuppressed',np.nan,df2['INC_PCT_H2'])
df2['INC_PCT_H2'] = pd.to_numeric(df2['INC_PCT_H2'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
df2['PCT_BLACK'] = np.where(df2['PCT_BLACK']=='PrivacySuppressed',np.nan,df2['PCT_BLACK'])
df2['PCT_BLACK'] = pd.to_numeric(df2['PCT_BLACK'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df2['LN_MEDIAN_HH_INC'] = np.where(df2['LN_MEDIAN_HH_INC']=='PrivacySuppressed',np.nan,df2['LN_MEDIAN_HH_INC'])
df2['LN_MEDIAN_HH_INC'] = pd.to_numeric(df2['LN_MEDIAN_HH_INC'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df2['DEBT_MDN'] = np.where(df2['DEBT_MDN']=='PrivacySuppressed',np.nan,df2['DEBT_MDN'])
df2['DEBT_MDN'] = pd.to_numeric(df2['DEBT_MDN'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
df2['POVERTY_RATE'] = np.where(df2['POVERTY_RATE']=='PrivacySuppressed',np.nan,df2['POVERTY_RATE'])
df2['POVERTY_RATE'] = pd.to_numeric(df2['POVERTY_RATE'])

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
df2

,OPEFLAG,CONTROL,TUITFTE,INEXPFTE,AVGFACSAL,OPENADMP,ADM_RATE,SAT_AVG,ACTCMMID,COSTT4_A,...,INC_PCT_M2,INC_PCT_H1,INC_PCT_H2,PPTUG_EF2,NPT4_PUB,NPT4_PRIV,NPT41_PUB,NUM4_PUB,NUM4_PRIV,PFTFAC
0,1,1,7413.0,5384.0,7101.0,2.0,0.8986,957.0,18.0,22489.0,...,0.105148,0.062147,0.040804,NaN,14444.0,NaN,13893.0,592.0,NaN,0.7411
1,1,1,13177.0,16454.0,10717.0,2.0,0.9211,1220.0,25.0,24347.0,...,0.142351,0.114589,0.135644,NaN,17005.0,NaN,14550.0,1229.0,NaN,0.7766
2,1,2,14273.0,4206.0,4292.0,1.0,NaN,NaN,NaN,17680.0,...,0.064189,NaN,NaN,NaN,NaN,15322.0,NaN,NaN,5.0,1.0000
3,1,1,8677.0,9242.0,9442.0,2.0,0.8087,1314.0,28.0,23441.0,...,0.146923,0.150691,0.190038,NaN,20909.0,NaN,17561.0,585.0,NaN,0.6544
4,1,1,10160.0,8527.0,7754.0,2.0,0.9774,972.0,18.0,21476.0,...,0.112620,0.052716,0.041534,NaN,13043.0,NaN,11344.0,523.0,NaN,0.5826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,1,2,6477.0,6188.0,2667.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6314,1,1,12317.0,153080.0,18393.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9260
6318,1,3,24145.0,23749.0,6620.0,2.0,0.2500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2500
6319,1,2,9970.0,4515.0,5794.0,1.0,NaN,NaN,NaN,19707.0,...,NaN,NaN,NaN,NaN,NaN,14368.0,NaN,NaN,34.0,1.0000
6322,1,2,6964.0,3401.0,7548.0,1.0,NaN,NaN,NaN,20329.0,...,NaN,NaN,NaN,NaN,NaN,14061.0,NaN,NaN,255.0,1.0000

In [21]:
df2.to_csv('my_dataframe.csv')