In [2]:
import pandas as pd 
import numpy as np

In [3]:
df1 = pd.read_csv('Most-Recent-Cohorts-All-Data-Elements.csv')
df1.head()

/Users/laurencunningham/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (9,1608,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1640,1643,1648,1657,1666,1669,1674,1683,1688,1689,1690,1691,1692,1697,1700,1703,1704,1705,1706,1707,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3193,0.7057,0.7143,5343.0,1165.0,1288.0,2.0,0.7083,0.7287,2698.0
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.2475,0.3788,0.5350,14445.0,10498.0,2228.0,2.0,0.3891,0.5414,4176.0
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.2836,1.0000,1.0000,440.0,527.0,5.0,4.0,PrivacySuppressed,PrivacySuppressed,24.0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2496,0.2707,0.4556,8145.0,2443.0,1341.0,2.0,0.2378,0.4402,2544.0
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.2621,0.7792,0.7539,4732.0,642.0,951.0,2.0,0.7684,0.7464,2094.0

In [4]:
df1.shape

(6806, 1986)

In [5]:
df1.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'OMENRUP_PARTTIME_POOLED_SUPP', 'FTFTPCTPELL', 'FTFTPCTFLOAN', 'UG12MN',
       'G12MN', 'SCUGFFN', 'POOLYRS_FTFTAIDPCT', 'FTFTPCTPELL_POOLED_SUPP',
       'FTFTPCTFLOAN_POOLED_SUPP', 'SCUGFFN_POOLED'],
      dtype='object', length=1986)

#### smaller dataframe

In [7]:
df1['ICLEVEL'].value_counts()
# 1 is 4-year inst
# 2 is 2-year inst
# 3 is less than 2-year

1    3111
3    1858
2    1837
Name: ICLEVEL, dtype: int64

In [8]:
# dataframe with just 4 year institutions 
df1 = df1[df1['ICLEVEL']==1]

In [9]:
df1.shape

(3111, 1986)

In [10]:
# dataframe with just 4 year predominantly bachelor-degree granting institutions 
df1 = df1[df1['PREDDEG']==3]

In [11]:
df1.shape

(2058, 1986)

In [19]:
df1.corr()['C150_4_POOLED'].sort_values(ascending=True).head(50)

OMENRUP8_FTFT_POOLED    -0.665384
OMENRUP_FIRSTTIME       -0.631273
CDR3                    -0.627107
OMENRUP8_FTFT           -0.624967
OMENRUP_ALL             -0.612556
OMENRUP_FULLTIME        -0.606616
CDR2                    -0.598778
FTFTPCTPELL             -0.593015
UG25ABV                 -0.564922
PCTPELL                 -0.555512
OMENRUP8_FTNFT_POOLED   -0.536372
OMENRUP_NOTFIRSTTIME    -0.502758
OMENRUP8_FTNFT          -0.497218
PPTUG_EF                -0.437514
OMENRAP8_FTFT           -0.389071
UGDS_BLACK              -0.378732
OMENRAP_FIRSTTIME       -0.374316
OMENRAP_FULLTIME        -0.374286
OMENRAP_ALL             -0.370814
OMENRAP8_FTFT_POOLED    -0.366704
ADM_RATE_ALL            -0.361365
ADM_RATE                -0.355987
OMENRUP8_PTFT_POOLED    -0.351414
OMENRAP_NOTFIRSTTIME    -0.322281
OMENRAP8_FTNFT          -0.320027
POOLYRS_FTFTAIDPCT      -0.312044
POOLYRSRET_FT           -0.311249
CIP43BACHL              -0.307020
UNITID                  -0.305590
PCIP43                  -0.305588
OMENRAP8_FTNFT_POOLED   -0.304606
OMENRUP_PARTTIME        -0.301654
OMENRUP8_PTFT           -0.300022
TRANS_4_POOLED          -0.299290
OMENRUP8_PTNFT_POOLED   -0.276080
OPEID6                  -0.274082
TRANS_4                 -0.273472
CIP11ASSOC              -0.270186
CIP52ASSOC              -0.269841
CDR3_DENOM              -0.262467
CIP43ASSOC              -0.249319
NUMBRANCH               -0.245776
OMENRUP8_PTNFT          -0.244527
OMENRYP_ALL             -0.235758
OMENRYP_FULLTIME        -0.234108
CCBASIC                 -0.232193
PCIP52                  -0.223230
RELAFFIL                -0.221407
POOLYRS100              -0.219621
POOLYRS                 -0.216884
Name: C150_4_POOLED, dtype: float64

In [31]:
# dataframe with the columns I think could be helpful in my analysis
df2 = df1[['OPEFLAG', 'CONTROL', 'TUITFTE', 'INEXPFTE', 'AVGFACSAL','OPENADMP',
           'ADM_RATE', 'SAT_AVG', 'ACTCMMID', 'COSTT4_A', 'TUITIONFEE_IN', 'TUITIONFEE_OUT',
           'UGDS','FTFTPCTFLOAN','C150_4_NOLOANNOPELL','FTFTPCTPELL', 'DEBT_MDN', 
          'C100_4_POOLED', 'C150_4_POOLED', 'MEDIAN_HH_INC','POVERTY_RATE','INC_PCT_LO',
          'INC_PCT_M1','INC_PCT_M2','INC_PCT_H1', 'INC_PCT_H2','PFTFAC','DEP_STAT_PCT_IND',
          'REGION','DEBT_MDN_SUPP','UG25ABV','CDR3','CDR2','MN_EARN_WNE_INC1_P10',
         'MN_EARN_WNE_INC2_P10','MN_EARN_WNE_INC3_P10']]

In [32]:
df2.corr()['C150_4_POOLED'].sort_values(ascending=False)

C150_4_POOLED          1.000000
C100_4_POOLED          0.876786
ACTCMMID               0.834112
SAT_AVG                0.825884
C150_4_NOLOANNOPELL    0.795283
TUITIONFEE_OUT         0.697612
COSTT4_A               0.608755
AVGFACSAL              0.593928
TUITIONFEE_IN          0.572610
INEXPFTE               0.488471
OPENADMP               0.381871
TUITFTE                0.338561
PFTFAC                 0.237818
UGDS                   0.193270
OPEFLAG                0.002234
FTFTPCTFLOAN          -0.083558
CONTROL               -0.117852
REGION                -0.179319
ADM_RATE              -0.355987
UG25ABV               -0.564922
FTFTPCTPELL           -0.593015
CDR2                  -0.598778
CDR3                  -0.627107
Name: C150_4_POOLED, dtype: float64

#### converting strings to integers

In [ ]:
df2['MEDIAN_HH_INC'] = np.where(df2['MEDIAN_HH_INC']=='PrivacySuppressed',np.nan,df2['MEDIAN_HH_INC'])
df2['MEDIAN_HH_INC'] = pd.to_numeric(df2['MEDIAN_HH_INC'])

In [ ]:
df2['INC_PCT_LO'] = np.where(df2['INC_PCT_LO']=='PrivacySuppressed',np.nan,df2['INC_PCT_LO'])
df2['INC_PCT_LO'] = pd.to_numeric(df2['INC_PCT_LO'])

In [ ]:
df2['INC_PCT_M1'] = np.where(df2['INC_PCT_M1']=='PrivacySuppressed',np.nan,df2['INC_PCT_M1'])
df2['INC_PCT_M1'] = pd.to_numeric(df2['INC_PCT_M1'])

In [ ]:
df2['INC_PCT_M2'] = np.where(df2['INC_PCT_M2']=='PrivacySuppressed',np.nan,df2['INC_PCT_M2'])
df2['INC_PCT_M2'] = pd.to_numeric(df2['INC_PCT_M2'])

In [ ]:
df2['INC_PCT_H1'] = np.where(df2['INC_PCT_H1']=='PrivacySuppressed',np.nan,df2['INC_PCT_H1'])
df2['INC_PCT_H1'] = pd.to_numeric(df2['INC_PCT_H1'])

In [ ]:
df2['INC_PCT_H2'] = np.where(df2['INC_PCT_H2']=='PrivacySuppressed',np.nan,df2['INC_PCT_H2'])
df2['INC_PCT_H2'] = pd.to_numeric(df2['INC_PCT_H2'])

In [ ]:
df2['INC_PCT_H2'] = np.where(df2['INC_PCT_H2']=='PrivacySuppressed',np.nan,df2['INC_PCT_H2'])
df2['INC_PCT_H2'] = pd.to_numeric(df2['INC_PCT_H2'])

In [ ]:
df2['DEBT_MDN'] = np.where(df2['DEBT_MDN']=='PrivacySuppressed',np.nan,df2['DEBT_MDN'])
df2['DEBT_MDN'] = pd.to_numeric(df2['DEBT_MDN'])

In [ ]:
df2['POVERTY_RATE'] = np.where(df2['POVERTY_RATE']=='PrivacySuppressed',np.nan,df2['POVERTY_RATE'])
df2['POVERTY_RATE'] = pd.to_numeric(df2['POVERTY_RATE'])

In [ ]:
df2['DEP_STAT_PCT_IND'] = np.where(df2['DEP_STAT_PCT_IND']=='PrivacySuppressed',np.nan,df2['DEP_STAT_PCT_IND'])
df2['DEP_STAT_PCT_IND'] = pd.to_numeric(df2['DEP_STAT_PCT_IND'])

In [ ]:
df2['OPENADMP'] = np.where(df2['OPENADMP']=='PrivacySuppressed',np.nan,df2['OPENADMP'])
df2['OPENADMP'] = pd.to_numeric(df2['OPENADMP'])

In [ ]:
df2

In [ ]:
df2.to_csv('my_dataframe.csv')